Here we import all of the modules needed for our model

In [1]:
import numpy as np
import sklearn
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.metrics import mean_squared_error

Here we import our data and combine it

In [8]:
df = pd.read_csv("student_info.csv")
df2 = pd.read_csv("student_scores.csv.xls")

frames = [df, df2]

data = pd.concat(frames)
data

data.fillna(0, inplace=True)
data["study_hours"] = data["Hours"] + data["study_hours"]
data["student_marks"] = data["Scores"] + data["student_marks"]
data

    study_hours  student_marks  Hours  Scores
0          6.83          78.50    0.0     0.0
1          6.56          76.74    0.0     0.0
2          0.00          78.68    0.0     0.0
3          5.67          71.82    0.0     0.0
4          8.67          84.19    0.0     0.0
..          ...            ...    ...     ...
20         2.70          30.00    2.7    30.0
21         4.80          54.00    4.8    54.0
22         3.80          35.00    3.8    35.0
23         6.90          76.00    6.9    76.0
24         7.80          86.00    7.8    86.0

[225 rows x 4 columns]